* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

.flex {
    display: flex;
}

.container {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
    max-width: 1220px;
    margin: auto;
    /*gap: 10px;*/
}


aside {
    border: 1px solid red;
}

.card-preview {
    margin-top: 2rem;
}

.preview {
    background: url('./img/Background.png') no-repeat center center;
    background-size: cover;
    height: 100vh; /*ou 728*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-preview h2 {
/* Festivite */
font-family: 'Leckerli One';
font-style: normal;
font-weight: 400;
font-size: 2.5rem;
line-height: 54px;
text-transform: capitalize;

color: #FF598B;

}

.card-preview p {
/* Crie um convite digital para o seu evento */
font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
font-size: 1rem;
line-height: 22px;

color: #F9F9F9;

}

main {
    border: 1px solid red;
}