* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    color: #F9F9F9;
    background: #212427;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

/*input {
    all: unset; /* Remove todos os estilos padrão */

label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 19px;
    color: #C8CDD0;
}

input {
    width: 100%;
    background: #1C1F21;
    border: 1px solid #363B40;
    border-radius: 0.5rem;
    padding: 1rem 0px 1rem 1rem;
    margin-top: 0.75rem;
    margin-bottom: 1rem;
}

input::placeholder {
    /* Placeholder */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 22px;
    color: #869198;
}

input[type="date"] {
    appearance: none; /* Remove o estilo nativo */
    -webkit-appearance: none; /* Para navegadores WebKit (Chrome, Safari) */
    -moz-appearance: none; /* Para Firefox */
}


input:focus {
    outline: 2px solid #ff4081;
}


.flex {
    display: flex;
}

.container {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    gap: 0.3125rem;
}


aside {
    /*border: 1px solid red;*/
    position: sticky;
    top: 0; /* Mantém o aside no topo da tela */
    height: 100vh;
}

.card-preview {
    margin-top: 2rem;
}

.preview {
    background: url('./img/Background.png') no-repeat center center;
    background-size: cover;
    height: 100vh; /*ou 728*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-preview h2 {
    /* Festivite */
    font-family: 'Leckerli One';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 54px;
    text-transform: capitalize;

    color: #FF598B;

}

.card-preview p {
    /* Crie um convite digital para o seu evento */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 22px;
}

main {
    /*border: 1px solid red;*/
}

main h2 {
/* Crie seu convite */
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 45px;
    width: 35rem;
    margin: 5rem auto 2.5rem auto;
}

form {
    width: 35rem;
    margin: auto;
    /*border: 1px solid red;*/

    display: flex;
    flex-direction: column;
}

.input-group {
    gap: 1rem;
}

.input-group div{
    flex: 1; /* Faz cada input ocupar 50% do espaço disponível */
}

label:has(+ .radio-group) {
    margin-bottom: .8rem;
    display: block;
}

.radio-group {
    display: flex;
    background: #1C1F21; /* Cor de fundo igual ao input */
    border: 1px solid #333; /* Borda igual ao input */
    border-radius: 0.5rem;
    padding: .23rem;
    align-items: center;
}

input[type="radio"]{
    display: none; /* Esconde o botão radio padrão */
}

.radio-group .radio-label {
    flex: 1;
    text-align: center;
    padding: 0.625rem;
    border-radius: 0.3125rem;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    gap: 5px; /* Espaço entre ícone e texto */
}

.radio-group input[type="radio"]:checked + .radio-label {
    background-color: #869198;
    color: white;
    font-weight: bold;
}

textarea {
    width: 100%;
    height: 7.5rem;
    background: #1C1F21;
    color: #C8CDD0;
    border-radius: 0.5rem;
    border: 1px solid #333;
    resize: none; /* Impede redimensionamento manual */
    margin-top: 0.75rem;
    margin-bottom: 1rem;
}

textarea::placeholder {
    color: #869198;
}

textarea:focus {
    outline: 2px solid #ff4081; /* Destaque na borda ao focar */
}

.color-picker {
    gap: 0.75rem;
    justify-content: space-between;
    margin-top: 0.75rem;
    margin-bottom: 1rem;
}

.color-circle {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    border: 2px solid #2D3136;
}

.color-picker input[type="radio"]:checked + label {
    border: 2px solid white;
}

.theme-picker {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0.35rem;
    margin-top: 0.75rem;
    margin-bottom: 1rem;
}

.theme-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #363B40;
    border-radius: 0.5rem;
    padding: 0.25rem;
    cursor: pointer;
}

/*.theme-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}*/

.theme-card p {
    margin-top: 0.25rem;
    color: #F9F9F9;
    font-size: 0.875rem;
    line-height: 19px;
}

input[type="radio"]:checked + .theme-card {
    border: 2px solid #ff4081; /* Destaca o tema selecionado */
}

.estilo {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 1rem;
}

.file-upload,
.toggle-switch {
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    gap: 0.75rem;
}

.toggle-switch input[type="checkbox"]{
    display: none;
}

.switch {
    width: 40px;
    height: 20px;
    background-color: #1f2937;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

.switch::before{
    content: "";
    width: 16px;
    height: 16px;
    background-color: #6b7280;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: 0.3s;
}

input[type="checkbox"]:checked + .switch {
    background-color: #3b82f6; /* Azul quando ligado */
}

input[type="checkbox"]:checked + .switch::before {
    transform: translateX(20px);
    background-color: white;
}

span {
    color: #9ca3af;
    font-size: 14px;
}

input[type="file"] {
    display: none; /* Esconde o input padrão */
}

.file-upload {
    align-items: center;
    gap: 0.75rem;
}

.custom-file-button {
    background-color: #1f2937;
    padding: 0.15rem 0.35rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 19px;
    color: #F9F9F9;
}

.custom-file-label:hover {
    background-color: #374151;
}

#file-name{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #869198;
}

#fullName{
    border: 1px solid #FF5959;
}

.erro{
    display: none; /* Oculta a mensagem por padrão */
    gap: 0.75rem;
    align-items: center;
    margin-bottom: 1rem;
}

.erro span {
    color: #FF5959;
    font-size: 0.9rem;
}

input:invalid + .erro {
    display: flex; /* Exibe a mensagem se o input estiver inválido */
}

.erro img {
    width: 16px; /* Ajusta o tamanho da imagem */
    height: 16px;
}

.line {
    width: 100%;
    margin: 3rem 0px 3rem 0px;
    border-top: 1px solid #363B40;
}

.checkbox-group {
    flex-direction: column;
    gap: 0.25rem;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.checkbox input {
    width: 16px;
    height: 16px;
    accent-color: #007bff; /* Cor do checkbox quando marcado */
    background: transparent;
    border: 1px solid #333;
    border-radius: 0.5rem;
}

.checkbox a {
    color: #59B2FF;
    text-decoration: none;
    font-weight: bold;
}

/* Estilização do botão */

.btn {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    background-color: #1D6FB6;
    font-weight: 600;
    line-height: 22px;
    color: white;
    padding: 0.25rem 1.25rem;
    border-radius: 0.5rem;
    cursor: pointer;
    max-width: 11rem;
    border: none;
    margin-left: auto;
    margin-block: 5rem;
}

/*.checkbox-group input[type="checkbox"]{
    background: transparent;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #1C1F21;
    border: 1px solid #363B40;
    border-radius: 0.25rem;
    width: 20px;
    height: 20px;
}*/











